* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 50px 30px;
  font-family: 'Baloo Tammudu 2', cursive;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

#movies h1{
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#movies ul{
  list-style: none;
  padding: 10px;
  background-color: #FED535;
}

#movies ul li:first-child{
  background-color: rgba(255, 0, 0, 0.308);
}

#movies ul li h3{
  text-transform: uppercase;
}

#movies ul li span:first-child{
  font-weight: bolder;
}

#counter h2 {
  text-align: center;
  margin-top: 30px;
}
